@tailwind base;
@tailwind components;
@tailwind utilities;

.post {
  width: fit-content;
  margin-top: 0.5em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.198);
  box-shadow: rgba(0, 0, 0, 0.47) 1px 1px 1px;
}

header {
  display: flex;
}
.input-comp {
  position: relative;
}
.gif-pad {
  overflow-y: scroll;
  position: absolute;
  top: 260px;
  background-color: black;
  border-radius: 10px;
  left: 50px;
}
